// Specific CSS for your home-page

.background-pages {
  // background-image: url(background-image.png);
  // background-size: cover;
  // width: 100%;
  // height: 100vh;
  color: white;
  padding-top: 50px;
}

.start-button {
  padding-left: 22px
}

.start-blindtest {
  padding-bottom: 235px;
}

a {
  color:white;
  margin-left: 59px;
}

a:hover {
 color: #E94560;
}
