// Specific CSS for your home-page

.background-pages {
  color: white;
  padding-top: 50px;
}

.start-button {
  margin-right: 49px;
  margin-top: 61px;
}

.start-blindtest {
  padding-bottom: 235px;
}

a {
  color:white;
  margin-left: 59px;
}

a:hover {
 color: white;
}

#logo {
  padding-top: 277px;
  padding-left: 45px;
}

