.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

h3 {
  margin-top: -25px
}

.card-playlist {
  color: white;
  font-weight: bold;
}

.card-playlist:hover {
  color:#E94560;
}

.card-playlist:active
{
  border: 5px solid black;
}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0px 1em;
  a {
    margin-left: 0px;
  }
}

.form-search {
  margin-bottom: 35px;
  margin-left: 16px;
  margin-right: 118px;
}

.error-message {
  color: white;
  font-weight: bold;
  margin-left: 62px;
}


.around {
  padding-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

// Previous & Next buttons

.pagination {
  position: fixed; 
  bottom:10%;
  width: 70%;
  a.next {
    position: absolute;
    right: 0;
  }
  a.prev {
    position: absolute;
    left: 0;
  }
}

.chevron {
  font-size: 36px;
  margin-left: 50px
}


