.wrapper {
  font-size: 20px;
  letter-spacing: 0.75px;
}

#winner {
  .nickname {
    font-size: 24px;
  }
  .score {
    font-size: 24px;
  }
  .rank {
    font-size: 24px;
    margin-top: -9px;
    height: 39px;
    width: 39px;
  }
}
