
<div class="range">
  <input type="range" name="minutes" min="0" max="15" value="" class="count">
  <div class="slice left">
    <div class="blocker"></div>
  </div>
  <div class="slice right">
    <div class="blocker"></div>
  </div>
  <span class="info">
    <span class="count" id="duration">0</span>
    <span class="minute">minutes</span>
  </span>
  <div class="dial" tabindex="0"></div>
</div>
