<h3>Game Duration</h3>

<div class="range">
  <input type="range" name="minutes" min="0" max="60" value="" class="count">
  <div class="slice left">
    <div class="blocker"></div>
  </div>
  <div class="slice right">
    <div class="blocker"></div>
  </div>
  <span class="info">
      <span class="count">0</span>
      points
  </span>
  <div class="dial" tabindex="0"></div>
</div>
