<div class="container middle">
  <div id="outer">
    <% if @number_of_players.nil? %>
      <button class="counter-minus">-</button>
    <% end %>
    <h1 class="counter-display" id="players-number">
      <% if @number_of_players %>
        <%= @number_of_players %>
      <% else %>
        0
      <% end %>
    </h1>
    <% if @number_of_players.nil? %>
      <button class="counter-plus">+</button>
    <% end %>
  </div>
</div>


