<div class="container">
  <div id="outer">
    <button class="counter-minus">-</button>
    <h1 class="counter-display" id="players-number">0</h1>
    <button class="counter-plus">+</button>
  </div>
</div>


