<div class="form-search">
  <%= form_tag playlists_path, class: "search d-flex pb-7", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search by title, artist or category"
      %>
    <%= hidden_field_tag :game_id, params[:game_id] %>
    <%= button_tag(type: "submit", class: "btn btn-default within-search", name: nil) do %>
       <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
