
<div class="background-home">
  <div class="container justify-content-center">
    <div class="soundon">SOUND
    <%# </div>
    <div class="soundon-chrono"> %>
      <img src="<%=image_path "chrono.png"%>">N
    </div>
    <div class="start-blindtest">
    <h2>Guess to stay on track!</h2>
    </div>
    <%= link_to new_game_path do %>
      <div class="start-button" >
        <img src="<%=image_path "Start-button-red2.png"%>">
      </div>
    <%end%>
    <%= link_to "sign in with spotify", user_spotify_omniauth_authorize_path, class: "btn btn-spotify" %>
  </div>
</div>
