
<div class="background-home">
  <div class="container">
    <div class="soundon">SOUND
    </div> 
    <div class="soundon-chrono">
      <img src="<%=image_path "chronometre-2.png"%>">N
    </div>
    <div class="start-blindtest">Start a blind test
    </div>
    <div class= "btn-white">
      <%= link_to '', playlist_index_path, class:"btn btn-ghost" %>
    </div>
    <%= link_to '/users/auth/spotify' do %>
      <div class="start-button" >
        <img src="<%=image_path "start.JPG"%>">
      </div>
    <%end%>
  </div>
</div>