<div class="background-pages results d-flex flex-column align-items-center">
  <h1>Blind Test is over!</h1>

  <h2 class="my-5">Score recap</h2>


  <div class="wrapper">
    <% @game.players.each do |player| %>
      <div class="card-score" >
        <p><%= "#{player.nickname.capitalize}" %></p>
        <p class="score"><%= "#{player.score || "0"} #{"pts" if player.score}" %></p>
      </div>
    <% end %>
  </div>

  <div class= "mt-5">
    <%= link_to "Play again", "/", class: "btn-player" %>
  </div>

</div>
