<p>You just created a new game with a duration of <%= @game.duration %> minutes </p>
<p>Players are :</p>
<ul>
  <% @game.players.each do |player| %>
    <li><%= player.nickname %></li>
  <% end %>
</ul>

<button type="button" id="start"> Start </button>
<button type="button" id="time"> Add 15s </button>
<button type="button" id="stop"> Stop </button>

<div id="player" data-token="<%= @user.token %>" data-track-id="<%= @track.spotify_url %>"></div>