  
<div class="d-flex flex-column align-items-center">
  <h1 class="mb-4"><%= @questions.sample %></h1>

  <div id="app" class="mb-4"></div>


  <button type="button" id="start" class="btn-player mb-4"> Start </button>
  <button type="button" id="time" class="btn-player mb-4"> Add 15s </button>
  <%= link_to "Points Allocation", solution_game_path(@game), class: 'btn-player ml-0' %>


  <div id="player" data-token="<%= @user.token %>" data-track-id="<%= @track[0].spotify_url %>"></div>
</div>