<p>You just created a new game with a duration of <%= @game.duration %> minutes </p>
<p>Players are :</p>
<ul>
  <% @game.players.each do |player| %>
    <li><%= player.nickname %></li>
  <% end %>
</ul>

<div id="player" data-token="<%= @user.token %>"><%= @user.token %></div>