.game-players {
  background-color: rgba(255, 255, 255, 0.6);
}

.edit {
  h1 {
    margin-bottom: 25px;
  }
  // .btn-next {
  //   margin: 25px 0;
  // }
  // .btn-player {
  //   color: #16213E;
  //   top: 100px;
  // }
}

input#game_players_attributes_0_nickname {
  background-color: #24202B;
  border: none;
  color: #D9DBE9;
  width: 300px;
  height: 54px;
  border-radius: 8px;
  font-family: 'Monserrat', sans-serif;
  font-size: 22px;
  padding: 30px 15px;
}

input#game_players_attributes_1_nickname {
  background-color: #24202B;
  border: none;
  color: #D9DBE9;
  width: 300px;
  height: 54px;
  border-radius: 8px;
  font-family: 'Monserrat', sans-serif;
  font-size: 22px;
  padding: 30px 15px;
}

input#game_players_attributes_2_nickname {
  background-color: #24202B;
  border: none;
  color: #D9DBE9;
  width: 300px;
  height: 54px;
  border-radius: 8px;
  font-family: 'Monserrat', sans-serif;
  font-size: 22px;
  padding: 30px 15px;
}

input#game_players_attributes_3_nickname {
  background-color: #24202B;
  border: none;
  color: #D9DBE9;
  width: 300px;
  height: 54px;
  border-radius: 8px;
  font-family: 'Monserrat', sans-serif;
  font-size: 22px;
  padding: 30px 15px;
}

// Plus & minus features layout

.middle {
  margin-top: 120px;
}