#app {
  margin-top: 140px;
}

.title-start > p {
  margin-bottom: -36px;
}

#start-btn {
  margin-top: 61px;
}

.button-start2 {
  padding-top: 192px;
  padding-left: 96px;
}
#detail_setup {
  margin-top: 66px;
  margin-left: 58px;
  font-size: 21px;
}

.title-start > #p2 {
  color: #c19cfc;
  padding-top: 84px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}
.next-song {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  padding-top: 79px;
  padding-left: 55px;
  display:flex;
}
.button-start {
  margin: 90px;
  margin-top: 106px;
}

.start-button2 {
  padding-top: 158px;
  padding-left: 96px;
}

.title-start > #p1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}