#app {
  margin-top: 140px;
}

.title-start > p {
  margin-bottom: -36px;
}

#start-btn {
  margin-top: 61px;
}

.button-start2 {
  padding-top: 363px;
  padding-left: 87px;
}
#detail_setup {
  margin-top: 66px;
  margin-left: 58px;
  font-size: 21px;
}

.title-start > #p2 {
  color: #c19cfc;
  padding-top: 84px;
}
.button-start {
  margin: 90px;
  margin-top: 106px;
}

.start-button2 {
  margin-top: 350px;
  margin-left: 92px;
}