h1 {
  color:white;
  margin-top: 35px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.title-winner {
  color: white;
  font-weight: bolder;
  font-size: 26px;
}

.player-name {
  background-color: #24202B;
  color: white;
  width: 340px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 0.75px;
  line-height: 24px;
  padding: 6px 25px;
  margin-bottom: 10px;
}

.player-name-active {
  background-color: #E158F9;
  color: white;
  width: 340px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 0.75px;
  line-height: 24px;
  //outline: 3px solid #E158F9;
  padding: 6px 25px;
  margin-bottom: 10px;
}

.player-name-active .player-name {
  background-color: #E158F9;
}


#score {
  color: #C19CFC;
  font-size: 20px;
  margin-bottom: 0px;
  background-color: rgb(59, 51, 77);
  color: #C19CFC;
  //height: 32px;
  // width: 32px;
  border-radius: 50%;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin-bottom: 0px;
}