// players button
.btn-player {
  color: #16213E;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0;
  &.active {
    color: white;
    background-color: #E94560;
    text-decoration: none;
  }
}


button.counter-minus {
  background-color: #24202B;
  color: #B6B6B6;
  border-radius: 8px;
  width: 42px;
  border: none;
  line-height: 38px;
  font-size: 2em;
  font-weight: bolder;
}

button.counter-plus {
  background-color: #24202B;
  color: #B6B6B6;
  border-radius: 8px;
  width: 42px;
  border: none;
  line-height: 38px;
  font-size: 1.5em;
  font-weight: bolder;
}
