// players button
.btn-player {
  color: #16213E;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0;
  &.active {
    color: white;
    background-color: #E94560;
    text-decoration: none;
  }
}


