
// playlist cards

.card-playlist {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 178px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// score cards

.card-score {
  // background-color: rgba(15, 52, 96, 0.6);
  background-color: rgba(233, 69, 96, 0.6);
  height: 100px;
  width: 160px;
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-wrap: wrap;
  p {
    margin-left: 12px;
  }
  .score {
    font-size: 20px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

// solution cards

.card-solution {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 178px;
  display: flex;
  flex-direction : column;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
