.violet-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  position: absolute;
  width: 335px;
  height: 64px;
  left: -40px;
  top: 583px;
  background: #C19CFC;
  border-radius: 12px;
  color: #3C0594;
  font-family: 'Monserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 24px;
}

input.btn.violet-button {
  margin: 0 0 0 59px;
}
