<ul>
    <%= render "shared/search" %>
    <% @playlists.each do |playlist| %>
  <div class="container mt-2">
    <div class="card-playlist" style="background-image: url(<%= playlist.image_url%>)">
      <%= playlist.title %>
    </div>
  </div>
    <% end %>
</ul>